<div class="container-fluid fondo pt-4 pb-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center seccionA">
            <div>
                <a routerLink="/registro-cliente">
            <img class="icono"src="../../../assets/img/abogado.png">
                <h3>
                    Registrarse como cliente
                </h3>
            </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center seccionB">
            <div>
                <a routerLink="/registro-profesional">
                    <img class="icono"src="../../../assets/img/libro-de-leyes.png"> 
                    <h3>
                        Registrarse como profesional
                    </h3>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
    <div class="container-fluid abajo">
        <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12 mb-4 text-center seccionB">
                            <div  id="mazo">
                                <img class="icono"src="../../../assets/img/apreton-de-manos.png">
                            </div>
                            <span>
                                <div id="textoMazo" class="ms-3  text-center">
                                    <div class="fw-bold" id="alcance">
                                        Tus abogados al alcance
                                    </div>
                                    <div class="mt-2">
                                        Podrás tener en un vistazo a tus letrados
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12 mb-4 text-center seccionA">
                            <div id="abogado">
                                <img class="icono"src="../../../assets/img/escala-de-justicia.png">      
                            </div>
                            <span>
                                <div id="textoAbogado" class="ms-3">
                                    <div class="fw-bold" id="publi">
                                        Publicítate
                                    </div>
                                    <div class="mt-2">
                                        Serás visto por cientos de personas
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>

