<script src="index.js"></script>

<div class="imagenB">
    <div class="col-md-4 text-center bannerA">
        <h3>CONTACTOS</h3>
    </div>
</div>

<div class="container-fluid" *ngIf="this.aparecer">
    
    <div class="row">
        <div class="col-md-4  m-1 max-h" id="abogadosHablados">
                <div *ngFor="let item of usersUsados;let impar = even;let par = odd;" [ngClass]="{'claro':par,'oscuro':impar}">
                    <div (click)="this.abrirChat(item)" onclick="bajar()" class="w-100">
                        <div class="float-left">{{item}}</div>
                    </div>
                </div>
        </div>
        <div class="col-md-7 m-1 float-right">
            <div class="borde mensajeria">
                <div *ngFor="let item of mensajes">
                    <div class="mensajes mt-2">
                        <div [ngClass]="{'derecha-texto':this.item[0]==0,'izq-texto':this.item[0] == 1}">
                            <div class="texto">
                                {{item[1]}}
                            </div>
                            <div class="punta">
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
                <textarea id="chatTexto" class="mt-2" [(ngModel)]="this.texto"></textarea>
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-outline-primary" onclick="bajar()" (click)="this.enviarMensaje()">Enviar mensaje</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12" [ngClass]="{'oculto':!this.pulsado}" id="documentos">
            <form method="POST" (ngSubmit)="this.envioContrato(this.contacto)">
                <input type="file" class="btn" (change)="fileEventContrato($event)">
                <div class="d-grid gap-2">
                    <input type="submit" value="Enviar Contrato" class="btn btn-outline-primary" [disabled]="this.pdf">
                </div>
                <div class="letraPequenna" *ngIf="this.pdf && file != null">
                    El archivo debe ser PDF
                </div>
            </form>
            <form method="POST" (ngSubmit)="this.envioDoc(this.contacto)">
                <input type="file" class="btn" (change)="fileEventDoc($event)">
                <div class="d-grid gap-2">
                    <input type="submit" value="Enviar Documento" class="btn btn-outline-primary" 
                    [disabled]="this.doc">
                </div>
            </form>
            <div class="mt-3" *ngIf="this.login.tipoUser() == 'cliente'">
                <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" id="botonOpinion" (click)="this.buildForm()">Opinar sobre este abogado</button></div>
            </div>
        </div>
    </div>
</div>
<button id="btnModal">Abrir modal</button> 
<div id="tvesModal" class="modalContainer">
 <div class="modal-content">
 <span class="close" (click)="this.index()">×</span> <h2>Realizado</h2>
 <p></p> 
</div>
 </div>
 <div id="opinion" class="modalContainer">
    <div class="modal-content">
        <span class="close">×</span> <h2>Deje su opinión</h2>
        <div class="container-fluid">
            <div class="row">
                <form method="POST" (ngSubmit)="this.enviarOpinion()" [formGroup]="formulario">
                    <textarea formControlName="opinion" class="form-control"></textarea>
                    <div class="form-text text-center">Máximo 100 caracteres</div>
                    <div class="letraPequenna" *ngIf="this.opinionForm?.hasError('required')
                    && this.opinionForm?.touched">
                    Por favor introduzca una opinión
                    </div>
                    <div class="letraPequenna" *ngIf="this.opinionForm?.hasError('maxlength')
                    && this.opinionForm?.touched">
                    Tiene que tener un máximo de 200 caracteres
                    </div>
                    <div class="letraPequenna" id="error"></div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Enviar opinión" [disabled]="this.formulario.invalid"
                         class="btn btn-outline-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>