
<footer class="mt-5">
    <div class="container-fluid">
        <div class="row fut">
            <div class="col-6 text-center">
                <span class="fw-bold">
                    <a routerLink="/">
                    Lawandyer
                    </a>
                </span>
            </div>
            <div class="col-6  col-sm-3 text-center">
                <span class="fw-bold">
                    <a routerLink="/soporte">Soporte</a>
                </span>
            </div>
        </div>
    </div>
</footer>