/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Source+Sans+Pro:wght@200&display=swap');

h1{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
h2,h3,h4{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
}
label{

    font-family: 'Source Sans Pro', sans-serif;

}

btn{
    font-family: 'Source Sans Pro', sans-serif;
}

.pt-3 {
    padding: 1rem!important;
}


header.container-fluid {
    background-color: #131720;
}